.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  background: #1e1e1e;
}

.editor {
  flex: 1;
  border: 1px solid #333;
}

.button {
  padding: 10px;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

.terminal {
  background: #1e1e1e;
  color: #fff;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
  font-family: monospace;
}

.iframe {
  display: none;
}
