.wrap {
  display: flex;
  flex-direction: column;
  min-height: 350px;

  height: inherit;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  background: #f7f7f7;
}

.select {
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

.color {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.boldBtn {
  padding: 6px 12px;
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #eaeaea;
  }
}

.editor {
  flex: 1;
  padding: 16px;
  outline: none;
  overflow-y: auto;
  line-height: 1.5;
  font-size: 16px;
}

.colorBtn {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 4px;
  padding: 0;
  outline: none;
  transition: 0.2s;

  &:hover {
    filter: brightness(85%);
  }
}
