.menu {
  position: absolute;
  left: 0;
  bottom: 35px;
  z-index: 1000;
  width: 320px;
  height: 400px;
  display: flex;

  background: linear-gradient(
    135deg,
    rgba(180, 180, 180, 0.35),
    rgba(110, 110, 110, 0.25)
  );
  backdrop-filter: blur(14px) saturate(150%);
  -webkit-backdrop-filter: blur(14px) saturate(150%);

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

  overflow: hidden;
  animation: fadeIn 0.3s ease;
}

.left {
  width: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.iconWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  transition: all 0.25s ease;

  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);

  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.404);
    border: 1px solid white;
  }

  img {
    transition: transform 0.25s ease;
  }
}

.right {
  width: 100%;
  height: 100%;
  color: #f5f5f5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
