.footer {
  height: 35px;
  width: 100%;
  border-top: 1px solid black;
  background-color: var(--modal-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.left {
  display: flex;
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
}
.mid {
  height: 100%;
  width: 100%;
}

.time {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background-color: var(--modal-border);
  }
}

.hover {
  height: 100%;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  &:hover {
    background-color: var(--modal-border);
    & > svg {
      fill: rgb(0, 78, 129);
    }
  }
}

/* прошедшие дни */
.pastDay {
  color: rgba(255, 255, 255, 0.233) !important;
}

/* будущие дни */
.futureDay {
  color: rgba(255, 255, 255, 0.849) !important;
}

.calendarWrapper {
  position: absolute;
  right: 0px;
  bottom: 35px;
  z-index: 1;
  animation: slideUp 0.6s ease forwards;

  /* сам контейнер календаря (тёмный полупрозрачный фон) */
  :global(.react-calendar) {
    width: 320px;
    background: rgba(10, 10, 10, 0.397);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    padding: 8px;
    backdrop-filter: blur(6px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
