.folderContent {
  background: #202020;
  padding: 10px;
  min-height: 350px;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.empty {
  font-size: 14px;
  align-self: center;
}
.itemsGrid {
  display: flex;
  position: relative;
}
