.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  color: white;

  font-weight: 500;
  height: 30px;
  font-size: 14px;
  & > p {
    margin: 5px;
  }
}
.clear {
  padding: 0 6px;
  height: 100%;
  align-self: center;
  cursor: pointer;
  justify-self: center;
  line-height: 30px;
  &:hover {
    background-color: #414141;
  }
}
