.folderWindow {
  position: absolute;
  width: 800px;
  min-height: 250px;
  height: 80vh;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.minimized {
  display: none;
}

.maximized {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: #202020;
  width: 100vw !important;
  height: calc(100vh - 35px) !important;

  transform: none !important;
  margin: 0 !important;

  border-radius: 0;
}

.folderWindow {
  position: absolute;
  pointer-events: auto;
}

.folderWindow.resizing {
  cursor: nwse-resize;
}

.folderWindow.maximized .folderContent {
  height: calc(100% - 35px);
}

.folderContent {
  display: flex;
}

.itemsGrid {
  display: flex;
  position: relative;
}
