.folderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  color: white;

  font-weight: 500;
  height: 30px;
  font-size: 14px;
  & > span {
    margin: 5px;
  }
}

.controls {
  height: 100%;
  & > button {
    height: 100%;

    border: none;
    padding: 0 20px;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
