.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}
.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  color: white;
  font-size: 2rem;
}

.centerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.img {
  z-index: 2;
}

.input {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.enter {
  width: 200px;
  margin-top: 20px;
  background-color: transparent;
  padding: 12px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
}

.anon {
  width: 200px;
  background-color: transparent;
  padding: 12px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 20px;
}
