name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & push backend
      - name: Build & push backend
        uses: docker/build-push-action@v5
        with:
          context: ./back
          file: ./back/Dockerfile.prod
          push: true
          tags: rainatnight/lexaos-back:latest

      # Build & push frontend —Å build-args
      - name: Build & push frontend
        uses: docker/build-push-action@v5
        with:
          context: ./front
          file: ./front/Dockerfile.prod
          push: true
          tags: rainatnight/lexaos-fr:latest
          build-args: |
            NEXT_PUBLIC_HOST=https://lexaos.ru
            NEXT_PUBLIC_HOST_API=https://lexaos.ru/api/v1
            NEXT_PUBLIC_SOCKET=https://lexaos.ru

  deploy:
    name: Deploy to VPS
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: SSH to VPS and update containers
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_SSH_PORT }}
          script: |
            cd /root/lexaos
            docker compose pull
            docker compose up -d
